body {
    background-color: #FFF;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.cipa {
    max-width: 700px;
    border: 1px solid red;
}